<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>
<body>
    <header>
        <div class="">
            Natural Language Processing
        </div>
        <div class="">
            Navigation
        </div>
    </header>
    <main>
        <section>
            <form id="main-form">
                <div>
                    <input id="url" type="text" placeholder="Enter a URL" required>
                    <span class="error hidden">
                        Invalid URL!
                    </span>
                </div>
                <input type="submit" name="" value="Submit">
            </form>
            <section>
                <section>
                    <strong id="results-heading"></strong>
                    <div id="results"></div>
                </section>
    </main>
    <footer>
        <p>Rahul Kumar | 2020 | NLP Project</p>
    </footer>
</body>
</html>